@font-face{
    font-family: 'MyFont';
    src: url('./myFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'qingniaohuaguangjianxiheiyi';
    src: url('./qingniaohuaguangjianxiheiyi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}